<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
    </head>
    <body>
        <form action="/search" method="post">
            <label for="searching_key">Produkt/firma/usługa:</label>
            <input type="text" id="searching_key" name="searching_key"><br>

            <input type="submit" value="Szukaj">
        </form>
        {% if companies != null %}
        <h1>Znalezione firmy:</h1>
        <ul>
        {% for company in companies %}
            <li>{{ company.name }}, pobierz <a href="/get_v_card/{{ company.name }}">vCard</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>